<div class="posts">
    <% for(var i=0; i < 10; i++) { %>
        <% posts.forEach((post) => { %>
        <div class="post">
            <div class="image">
                <a href="/view/<%= post._id %>"><img src="/imgs/images/<%= post._id %>/<%= post.filename %>"/></a>
            </div>
            <div class="info">
                <h1><%= post.title %></h1>
                <p><%= post.description %></p>
                <div class="sub-info">
                    <span><%= post.owner %>
                </div>
            </div>
        </div>
        <% }); %>
    <% } %>
</div>